@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    width: 30%;
    height: 20%;
    background: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.popup p{
    font-family: Noto Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 19.07px;
    color: rgba(0, 0, 0, 1);
}
.closeButton, .logoutButton {
    margin: 10px;
    width: 90%;
    height: 30%;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 30px;
}

.closeButton {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(207, 54, 54, 1);
    color: rgba(207, 54, 54, 1);
}

.logoutButton {
    background-color: rgba(23, 162, 184, 1);
    box-shadow: 0px 2px 12px 0px rgba(130, 105, 140, 0.2);
    color: rgba(255, 255, 255, 1);
    
}
